<h1>Lista de usuarios</h1>
<table class="table">
	<thead>
		<tr>
			<th width="30%">Nombre</th>
			<th width="50%">Mail</th>
			<th width="10%">premium</th>
			<th width="10%"></th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.premium %></td>
				<td><%= link_to 'Hacer premium', users_make_premium_path(:id => user.id), class: 'btn btn-primary', data: { confirm: '¿Esta seguro?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
