<!DOCTYPE html>
<html>
<head>
	<title>HomeSwitchHome</title>
</head>
<body>
  <h1> Listado de residencias </h1>
  <table class="table">
  	    <tr>
  		    <th> Residencia </th>
  		    <th> Foto </th>
  	   </tr>
  	       <% Residencia.all.each do |residencia| %>
          	<tr>
  		        <td> <%= link_to residencia.nombre, residencias_path %></td>
  		        <td> <img src="<%= residencia.foto %>"></td>
  	       </tr>
  	     <% end %>
  </table>
</body>
</html>